/* this is the styling for nav bar */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background:lightgray;
    margin-bottom: 40px;
  }
  
  .nav-links{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  
  }
  
  .link{
    text-decoration: none;
    color:black;
    margin: 10px;
    font-weight:500;
    
  }
  
  .link:hover{
    opacity: 0.2;
    
  }

  .header{
      display: flex;
      justify-content:center;
      margin-right:800px;
      position: relative;
  }