 /* styling for transactions page */
 
 .btn{
    padding-bottom: 10px;
    justify-content: center;
    
}

.btn:hover{
    opacity: 0.3;
}

.container {
    height: auto;
    position: relative;
    width: 100%;
  }

  .filterbtn{
      width:100%;
      padding-bottom: 3px;
      color: black;
      background-color: lightgrey;
      font-size: 17px;
      border:2px solid;
      
  }

  .clearbtn{
    width:10%;
    padding-bottom: 3px;
    color: black;
    background-color: lightgrey;
    font-size: 17px;
    border:2px solid;
    
}

  .clearbtn:hover{
    opacity: 0.3;
  }

  .title{
      margin-left:50px;
  }

.left-half {
    background-color: white;
    position: absolute;
    left: 50px;
    width: 60%;
  }
  
  .right-half {
    background-color: white;
    position: absolute;
    right: 0px;
    width: 50%;
    
  }
  .left-half1 {
    background-color: white;
    position: absolute;
    display:flex;
    flex-direction: row;
    margin-bottom: 100px;
    width: 100%;
  }
  
  .right-half1 {
    background-color: white;
    position: absolute;
    right: 0px;
    width: 50%;
    
  }
  .container1 {
    display: table;
    width: 100%;
  }

  .filterContainer{
    height: auto;
    position: relative;
    width: 100%;
    margin-top: 100px;
    
  }

  .filtertitle{
    margin-top: 130px;
  }
  
